# Python dependencies

openai==0.27.0              # OpenAI API for ChatGPT integration
pyaudio==0.2.11             # PyAudio for audio input/output
gpiozero==1.6.2             # GPIO control for Raspberry Pi (Python)
Flask==2.2.2                # Flask for API framework
torch==1.13.0               # PyTorch for model inference
vosk==0.3.45                # Vosk for offline speech-to-text (STT) and real-time speech recognition
sounddevice==0.4.6          # Sounddevice for real-time audio input/output using Vosk
